<%=render 'layouts/header'%>

<div class="container plat new">
    <%=form_for @plat, :url => @plat.persisted? ? app_plat_path(@plat.app,@plat) : app_plats_path, :html => { :method => @plat.new_record? ? "post" : "put", class: "app_form" } do |f|%>

    <%= hidden_field_tag "plat[app_id]", @plat.app_id %>

    <div class="title"><span> <%=@plat.persisted? ? "Modify Channel" : "New channels" %> </span></div>

    <div class="form-group">
      <label for="plat_name">Channel Name*：</label>
      <%= f.text_field :name, class:"form-control", required:true %>
    </div>

    <div class="form-group">
      <label for="plat_name">Verify package name：</label>
      <%= f.text_field :bundle_id, class:"form-control", placeholder:"No validation will be performed if left blank; wildcard characters * are supported." %>
    </div>

    <div class="form-group">
      <label for="plat_name">Package type*：</label>
      <%= f.select(:plat_name,pkg_selectable_map,{},{class:"form-control"}) %>
    </div>

    <div class="form-group">
      <label for="plat_name">Duplicate packets are not allowed：</label>
      <%= f.select(:pkg_uniq,{'YES'=>'true','NO'=>'false'},{},{class:"form-control"}) %>
    </div>

    <% if @plat.persisted? %>
      <%=f.submit "Keep", class:"btn btn-primary ui-plat"%>
    <% else %>
      <%=f.submit "New", class:"btn btn-primary ui-plat"%>
    <% end %>
    
  <%end%>
</div>