<%=render 'layouts/header'%>

<div class="container user new">
  <%=render 'comoms/alert'%>
  <%=form_for @user, html:{class:"app_form"} do |f|%>
    <div class="title">
      <span>
        <% if @user.persisted? %>
          Modify User
        <% else %>
          New User
        <% end %>
      </span>
    </div>
      <% unless @init_admin %>
        <div class="form-group">
          <label for="plat_name">Type：</label>
          <%=f.select(:role,{'User'=>'user','Administrator'=>'admin'},{},{class:"form-control"}) %>
        </div>
      <% else %>
        <%= hidden_field_tag "user[role]", 'admin' %>
      <% end %>
      <div class="form-group">
        <label for="app_name">Email：</label>
        <%= f.text_field :email, class:"form-control", required:true %>
      </div>
      <div class="form-group">
        <label for="app_name">Password：</label>
        <%= f.password_field :password, class:"form-control", required:true %>
      </div>
      
    <%=f.submit @user.persisted? ? "Save" : "New", class:"btn btn-primary ui-plat"%>
  <%end%>
</div>