<%=render 'layouts/header'%>
<div class="container pkgs new">
  
  <%=render 'comoms/alert'%>

  <%=form_for @pkg, url:plat_pkgs_path(@plat), :html => { class: "app_form" } do |f|%>
    
    <%= hidden_field_tag "pkg[plat_id]", params[:plat_id] %>
    <div class="title"><span>Submit package</span></div>
    <div class="form-group">
      <%= f.file_field :file, required:true, accept:".#{@plat.plat_ext_name}" %>
    </div>

    <div class="form-group">
      <label for="file_nick_name">Rename</label>
      <%= f.text_field :file_nick_name, class:"form-control", placeholder:"If left blank, the filename will be used directly." %>
    </div>

    <div class="form-group">
      <label for="features">Change Description</label>
      <%= f.text_area :features, class:"form-control", placeholder:"Describe the details of the package modifications." %>
    </div>
    
    <%=f.submit "Upload", class:"btn btn-primary ui-plat"%>
  <%end%>
</div>